PORT=4173
API_TOKEN=change-me
ALLBET_URL=https://www.allbetgaming.net/?trial=true&sessionId=YOUR_SESSION_ID#/baccaratTable
ALLBET_HEADLESS=true
SCRAPER_ENABLED=true
CLOUD_WEBHOOK_URL=
PUBLIC_API_BASE=
