GOODWIN_URL=https://www.goodwin77.com/
GOODWIN_USERNAME=
GOODWIN_PASSWORD=
GOODWIN_HEADLESS=true
GOODWIN_ENABLE_COLLECTOR=false
GOODWIN_DETAIL_LIMIT=0
COLLECT_INTERVAL_MS=60000
COLLECT_MAX_RETRIES=4
COLLECT_RETRY_BASE_MS=30000
COLLECT_RETRY_MAX_MS=240000
COLLECT_RUN_TIMEOUT_MS=180000
PORT=4173
BAIJIA_HOST=127.0.0.1
BAIJIA_PUBLIC_VIEW=false
GOODWIN_CAPTURE_MS=15000
GOODWIN_EXPECTED_TABLES=36
GOODWIN_VIEWPORT_WIDTH=1680
GOODWIN_TABLE_SWITCH_MS=700
GOODWIN_TABLE_WAIT_MS=2000
