PORT=4173
API_TOKEN=change-me
ALLBET_URL=https://www.allbetgaming.net/?trial=true&sessionId=YOUR_SESSION_ID#/baccaratTable
ALLBET_HEADLESS=true
RAW_PAYLOAD_LOGGING=true
RAW_PAYLOAD_MAX_BYTES=500000
SCRAPER_ENABLED=true
ALERT_MIN_RATE=0.6
ALERT_MIN_SAMPLE=30
TELEGRAM_ENABLED=true
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
TELEGRAM_GROUP_NAME=結果群
TELEGRAM_POLL_INTERVAL_MS=2000
CLOUD_WEBHOOK_URL=
PUBLIC_API_BASE=
